@font-face {
    font-family: MyriadPro-Bold;
    src: url(../fonts/MyriadPro-Bold.otf);

}

@font-face {
    font-family: MyriadPro-Regular;
    src: url(../fonts/MyriadPro-Regular.otf);

}

* {
    font-family: "MyriadPro-Regular";
}

button:focus {
    outline: none;
}


html {

}

body {
    background-color: #ecece7;
}

@media (max-width: 768px) {
    body{
        padding: 5px;
    }
}

header {
    background-color: #f0f1f1;
}

.logo {
    width: 15%;
    float: left;
    height: 160px;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 15px;
    -webkit-box-shadow: -3px 2px 5px 0 rgba(84, 78, 84, 0.6);
    box-shadow: -3px 2px 5px 0 rgba(84, 78, 84, 0.6);
}

@media (max-width:1200px) {
    .logo {
        width: 20%;
    }
}

@media (max-width:768px) {
    .logo {
        width: 100%;
    }
}

.logo img {
    width: 100%;
}

@media (max-width:768px) {
    .logo img {
        width: auto;
    }
}

.phone_number {
    float: right;
    margin-top: 10px;
}

.phone_number p {
    font-size: 16px;
    float: right;
    font-weight: bold;
    margin-bottom: 0;
}

.phone_number p:last-child {
    font-size: 21px;
}

.phone_number p:nth-child(3) {
    font-size: 21px;
}

.phone_number p span {
    color: #eb7527;
}

.navbar {
    width: 85%;
    float: right;
    margin-top: 15px;
    z-index: 1;
    height: 20px;
    border-radius: 0 5px 5px 0;
}

@media (max-width:1200px) {
    .navbar {
        width: 80%;
    }
}

.navbar-nav li {
    font-size: 21px;
    width: 162px;
    text-align: center;
    position: relative;
}

@media (max-width:1200px) {
    .navbar-nav li {
        width: 122px;
    }
    #responsive-menu .active_tab {
        width: 160px;
    }
    #responsive-menu li a {
        padding: 0;
    }
    .navbar-header {
        float: right;
    }
}

@media (max-width:768px) {
    .navbar {
        width: 100%;
    }
    .navbar-header {
        float: left;
        margin-left: 20px;
    }
}

.navbar-nav li img {
    float: left;
    margin-top: 5px;
    position: absolute;
    left: 0;
}

.navbar-nav .first_li img {
    margin-left: 5px;
}

.group_filter:nth-child(2) {
    display: none;
}

.navbar-nav .second_li img {
    margin-left: -15px;
}

.drop_none {
    display: none;
}

.navbar-nav .third_li img {
    margin-left: 10px;
}

.navbar-nav .fifth_li img {
    margin-left: 0;
}

header ul {
    float: right;
}

#responsive-menu {
    padding-left: 0;
    padding-right: 0;
}

#filter_small{
    left: -385px;
    height: 100%;
    width: 385px;
    position: fixed;
    z-index: 9999999;
    background-color: white;
}

#menu_mobile {
    background-color: #89be56;
    left: -285px;
    height: 100%;
    position: fixed;
    width: 220px;
    z-index: 99999999;
    padding: 0 25px;
}

#menu_mobile ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu_mobile li {
    border-top: 1px solid #555;
    line-height: 45px;
    padding-bottom: 3px;
    padding-top: 3px;
}

#menu_mobile li:first-child {
    border-top: none;
}

#menu_mobile li:hover {
    cursor: pointer;
}

#menu_mobile a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.icon-close {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 6px;
    color: #eb7527;
}

.mask-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(234, 234, 234, 0.6);
}

#carousel {
    margin-bottom: 100px;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#fff));
    background: linear-gradient(to bottom, #e6e6e6, #fff);
}

.carousel-control,
.circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.item {
    position: relative;
    height: 450px;
    background-color: white;
}

#slider1 .item img {
    position: absolute;
    right: 0;
    bottom: -77px;
    width: 50%;
}

@media (max-width:1200px) {
    #slider1 .item img {
        bottom: -61px;
    }
}

@media (max-width:992px) {
    #slider1 .item img {
        bottom: -48px;
    }
}

@media (max-width:768px) {
    #slider1 .item img {
        bottom: -43px;
    }
}

@media (max-width:500px) {
    #slider1 .item img {
        bottom: -26px;
    }
}

@media (max-width:400px) {
    #slider1 .item img {
        bottom: -24px;
    }
}

@media (max-width:350px) {
    #slider1 .item img {
        bottom: -22px;
    }
}

.item p {
    font-size: 70px;
    width: 50%;
    text-align: center;
    font-weight: bold;
    padding-top: 70px;
    line-height: 1.1;
    margin-left: 50px;
}

.item span {
    color: #eb7527;
    font-size: 100px;
}

@media (max-width:1200px) {
    .item p {
        margin-left: 77px;
    }
}

@media (max-width:992px) {
    .item p {
        margin-left: 77px;
        font-size: 50px;
    }
    .item span {
        color: #eb7527;
        font-size: 70px;
    }
}

@media (max-width:768px) {
    .item p {
        margin-left: 77px;
        font-size: 30px;
    }
    .item span {
        color: #eb7527;
        font-size: 50px;
    }
}

.circle {
    border: 4px solid green;
    border-radius: 150px;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
}

.two {
    border: 4px solid #eb7527;
}

.three {
    border: 4px solid #534de3;
}

.circle img {
    width: 70%;
}

.col-xs-12 div p {
    font-size: 20px;
}

.col-xs-12 div h2 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.col-sm-6 .col-sm-6 {
    padding-left: 13px;
    padding-right: 13px;
}

.triangle {
    position: absolute;
    border: 90px solid transparent;
    border-left: 90px solid #ecece7;
    border-top: 90px solid #ecece7;
}

.triangle1 {
    display: block;
}

.triangle2 {
    display: block;
}

.triangle3 {
    display: block;
}

.col-xs-12 .col-sm-3 {
    position: relative;
    overflow: hidden;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.col-xs-12 .col-sm-6 {
     position: relative;
     overflow: hidden;
 }

.col-xs-12 button {
    margin-top: 10px;
    width: 150px;
    height: 35px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6b225), to(#e06618));
    background: linear-gradient(to bottom, #e6b225, #e06618);
}

.item_hover1:hover .triangle1 {
    display: none;
}

.item_hover2:hover .triangle2 {
    display: none;
}

.item_hover3:hover .triangle3 {
    display: none;
}

.btn_more {
    display:flex;
    justify-content:center;
    align-items:center;

}

@media (min-width: 1200px) {
    .btn_more3 {
        margin-top: 38px;
    }
}
@media (min-width:768px) {
    .col-xs-12 {
        margin: 0;
    }
}

@media (max-width:768px){

    .item_hover1 {
        width: 300px;
        margin: 0 auto;
    }
    .item_hover2 {
        width: 300px;
        margin: 0 auto;
    }
    .item_hover3 {
        width: 300px;
        margin: 0 auto;
    }

}

#services .item_hover1,.item_hover2,.item_hover3 {
   height: 425px;
}

@media (max-width:992px){
    #services .item_hover1,.item_hover2,.item_hover3 {
        margin-bottom: 50px;
    }

}

.triangle:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -15em;
    left: -355px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-style: solid;
    border-width: 350px 350px 0 0;
    border-color: transparent transparent transparent;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    box-shadow: -3px 3px 50px 0 rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
}

footer hr {
    background-color: white;
    height: 2px;
}

footer a {
    color: #333;
}
#contacts {
    background: url(../images/contacts_fon.png) no-repeat;
    background-size: 100%;
    height: 800px;
    margin-top: 50px;
}

.contact_border {
    margin: 0 8%;
    color: white;
    background-color: rgba(106, 104, 104, 0.8);
    z-index: 5;
    height: 524px;
}

.contact_border>p:first-child {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    background-color: #eb7527;
    height: 60px;
}

.contact_border .col-xs-12 p {
    font-size: 25px;
}

.contact_border .col-xs-12 {
    padding: 0 45px;
    margin-top: 20px;
}

.contact_border img {
    width: 12%;
    float: left;
    margin-right: 30px;
}

i {
    margin-right: 40px;
    float: left;
}

@media (max-width:992px) {
    iframe {
        margin-top: 40px;
    }
    .contact_border {
        height: 900px;
    }
}

@media (max-width:1200px) {
    .contact_border .col-xs-12 p {
        font-size: 21px;
    }
}

@media (max-width:620px) {
    .contact_border .col-xs-12 p {
        font-size: 20px;
    }
    .contact_border .col-xs-12 {
        padding: 0 5px;
    }
    i {
        margin-right: 20px;
    }
    .contact_border {
        height: 855px;
    }
}

@media (max-width:410px) {
    .contact_border {
        height: 885px;
    }
}

@media (max-width:358px) {
    .contact_border {
        height: 910px;
    }
}

#filter {
    width: 20%;
    float: left;
    border-right:2px solid #c0c0c0;
    padding-right: 5px;
}
@media (max-width: 768px) {
    #filter{
        border-right: none;
    }
    #search_filter form {
        border: 1px solid black;
        border-radius: 5px;
    }
}

#price_filter {
    border: 2px solid #c0c0c0;
    border-top: none;
    height:100px;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#price_filter > p {
    color: #89be56;
    font-size: 20px;
}

#search_filter {
    border: 2px solid #c0c0c0;
    border-top: none;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
}

#search_filter > p {
    color: #89be56;
    font-size: 20px;
}

#search_filter input {
    width: 87%;
    height:25px;
    border: none;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 1px solid gray;
    padding-left: 10px;
}
#search_filter input:-webkit-autofill {
   background-color: white;
}

#search_filter > div > form >div {
    width: 13%;
    float: right;
    background-color: white;
    height: 25px;
    padding: 2px;
    cursor: pointer;
    display:flex;justify-content:center;align-items:center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#search_filter > div > form:last-child {
    font-size: 14px;
}

#goods {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    width: 80%;
    float: right;
}
@media (max-width: 1200px) {
    #filter {
        width: 24%;
    }
    #goods {
        width: 76%;
    }
}
@media (max-width: 992px) {
    #filter {
        width: 31%;
    }
    #goods {
        width: 69%;
    }
}
@media (max-width: 768px) {
    #filter {
        width: 67%;
    }
    #goods {
        width: 100%;
    }
}


.good_img {
    width: 100%;
    height: 125px;
}

.good_img img{
    height: inherit;
    width: 100%;
}

.goods_line {
    height: 2px;
    background-color: #c0c0c0;
}

.selector {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 300px;
    flex: 0 0 204px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-left: 30px;
    margin-bottom: 60px;
    border: 2px solid #959595;
    border-radius: 10px;
    padding: 15px;
    clear: both;
}

.name {
    width: 60%;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.price {
    width: 40%;
    text-align: right;
    font-size: 16px;
}

.selector button {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: #89be56;
    font-size: 18px;
    color: white;
}


/* формируем кнопку закрытия */
.close {
    position: absolute;
    padding: 0;
    top: 0px;
    right: 0px;
    width: 22px;
    height: 22px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    -webkit-transition: background-color ease .7s;
    -moz-transition:  background-color ease .7s;
    -ms-transition:  background-color ease .7s;
    -o-transition:  background-color ease .7s;
    transition: background-color ease .7s;
}
.close:before {
    color: rgba(255, 255, 255, 0.9);

    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;

}

.close:hover {
   cursor: pointer;
}

/* планшет */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .popup {
        width: 95%;
    }
}
/* смарт */
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .popup {
        width:85%;
    }
}
/* изображения внутри окна */
#gridSystemModal img {
    display: block;
    border: none;
    width: 100%;
    height: auto;
}

button a:hover {
    text-decoration: none;
}

#gridSystemModal .col-sm-6 p {
   font-size: 30px;
    font-weight: bold;
}

#gridSystemModal .col-sm-6 p span {
    color:#89be56 ;
}

#gridSystemModal .col-sm-6 .item-name {
    text-align: center;

}

#gridSystemModal .col-sm-6 .description {
    font-size: 14px;
    font-weight: normal;
}


form div label {
    cursor: pointer;
    font-size: 16px; }

form div label:hover {
    color: #ef1873; }

form div input {
    transform: scale(1.6);
    cursor: pointer;
    padding-right: 50px; }

.checkbox {
    display: none; }

.checkbox-custom {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 5px; }

.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: text-top;
    color: #3a2b0f;
    cursor: pointer;
text-align: left;
white-space: normal;
line-height: 1.2;
    float: left;
}

.checkbox:checked + .checkbox-custom::before {
    content: url(../images/check.png);
    padding: 2px;
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    background: #eb7527;
    border-radius: 5px;
    color: white;
    width: 25px;
    height: 25px; }


input[type="checkbox"]:checked + .checkbox-custom {
    width: 25px;
    height: 25px;
    background-position: right;
    background-color: #FFF;
    border: none; }

form:last-child {
    font-size: 20px; }

.menu_item p {
    float: left;
    font-size: 20px;
    color: #eb7527;
    cursor: pointer;
    font-weight: bold;
}

.menu_item i {
margin-left: 10px;
margin-top: 5px;
    font-size: 20px;
    color: #333;
}

#group_filter {
    display: inline-block;
    border: 2px solid #c0c0c0;
    border-top: none;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}

#group_filter > p {
    color: #89be56;
    font-size: 20px;
}

select {
    padding:4px;
    float: right;
    height: 38px;
    width: 215px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #89be56;
    border-radius: 5px;
    margin-top: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
    text-indent: 0.01px;
    text-overflow: '';
    background-image: url("../images/select_angle.png");
    background-position: 95% center;
    background-repeat: no-repeat;
    cursor: pointer;
}

select:focus {
    outline: none;
}

option {
    cursor: pointer;
}
option:hover {
    background-color: #89be56 ;
}

#apteka h2 {
    float: left;
}

.menu_item i {
    margin-right: 10px;
    float: right;
}







.page_panel {
    max-height: 40px;
    position: relative;
    z-index: 1;
    padding: 7px;
    margin: 0 auto;
    border-radius: 5px;
    float: left;
}
.page_panel ul{
    float: left;
    padding-left: 0;
}
.page_panel:before,
.page_panel:after {
    content: '';
    display: table;
}

.page_panel:after {
    clear: both;
}

.page_panel li, .page_panel span {
    float: left;
    position: relative;
    margin-right: 7px;
    text-decoration: none;

    height: 26px;
    width: 26px;

    color: #232323;
    font: 11px/26px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    list-style: none;
    cursor: pointer;
}

.page_panel li:before, .page_panel span:before {
    pointer-events: none;
    content: '';
    position: absolute;
    z-index: -1;
    height: 200%;
    width: 100%;
    border-radius: 3px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
    transition: all 0.2s ease;
    left: 0;
    top: 0;
}

.page_panel li:after, .page_panel span:after {
    z-index: -1;
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    background-color: #fafafa;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), transparent);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5), inset 0 2px 2px white;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.2s ease;
}

.page_panel li:last-child, span.last {
    margin: 0;
}
span.next{margin-left: 7px;}

.page_panel li:hover::before, .page_panel span:hover::before {
    height: 220%;
}

.page_panel li:hover::after, .page_panel span:hover::after {
    background-color: #fff;
}

.page_panel li.active::before{
    height: 150%;
}

.page_panel li.active::after {
    background-color: #eee;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), inset 0 1px 1px white;
}
.page_panel li.active {
    font-weight: bold;
}
.clear{
    clear: both;
    height: 30px;
}
#box{width: 450px; margin: 40px auto;}


#pagination {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.filter_button {
    width: 100%;
    background-color: #89be56;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 18px;
}

.banner img {
    width: 100%;
}

#uslugi_tabs {
    border-top: 17px solid #eb7527;
    border-bottom: 17px solid #eb7527;
    height: 140px;
    padding: 15px 0;
}

@media (max-width: 992px) and (min-width: 768px) {
    #uslugi_tabs {
        height: 190px;
    }
}

#uslugi_tabs .row {
    margin-top: -35px;
}

@media (max-width: 768px) {
    #uslugi_tabs .row {
        margin-top: 40px;
    }
    #uslugi_tabs .row select {
        margin-top: 0;
    }
}

#uslugi_tabs > div {
  //  background-color: #89be56;
    height: 137%;
    background-image: url("../images/footprints.png");
    background-size: auto ;
    margin-top: -25px;
}

#uslugi_tabs .uslugi_tab {
    height: 100px;
    width: 100px;
    border: 5px solid #c0c0c0;
    border-radius: 50px;
    float: left;
    margin: 0 auto;
    margin-right: 24px;
    margin-left: 24px;
    background-color: #7cb34c;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;

}

#uslugi_tabs .col-md-6 div:last-child{
    margin-right: 10px;
}

#uslugi_tabs .col-sm-12 {
    display:flex;
    justify-content:center;
    align-items:center;
}

@media (max-width: 768px){
    .col-xs-12 .col-xs-6 {
        display:flex;
        justify-content:center;
        align-items:center;
    }
}

#uslugi_tabs .col-xs-12 {
    display:flex;
    justify-content:center;
    align-items:center;
}


#uslugi_tabs .col-sm-12 p {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#uslugi_tabs .col-xs-5 p {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 1200px) and (min-width: 992px){
    #uslugi_tabs .uslugi_tab {
        margin-right: 10px;
        margin-left: 10px;
    }
    #uslugi_tabs .col-md-6 div:last-child{
        margin-right: 5px;
    }
}

@media (max-width: 992px) and (min-width: 768px){
    #uslugi_tabs .col-sm-12 {
        margin-bottom: 15px;
    }
}

@media (max-width: 768px) {
    #uslugi_tabs .uslugi_tab {
        margin-left: 5px;
        margin-right: 5px;
    }
    .float {
        float: none;
    }
}

.tab-pane hr {
    height: 2px;
    background-color: #eb7527;
    color: #eb7527;
}

#body_vacancies hr {
    height: 2px;
    background-color: #eb7527;
    color: #eb7527;
}

#shelter_content hr {
    height: 2px;
    background-color: #eb7527;
    color: #eb7527;
}

#shelter_content h1 {
    font-weight: bold;
}

#body_vacancies h1 {
    font-weight: bold;
}

.tab-pane h3 {
    font-size: 34px;
    font-weight: bold;
}

.tab-pane p {
    font-size: 18px;
}

#shelter_content p {
    font-size: 18px;
}

#body_vacancies p {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;

}

.tab-pane img {
    float: left;
    margin: 0 30px 10px 0;
    width: 30%;
}

#shelter_content img {
    float: left;
    margin: 0 30px 10px 0;
    width: 30%;
}

@media (min-width: 992px) and (max-width: 1200px){
    .tab-pane img {
        width: 40%;
    }

    #shelter_content img {
        width: 40%;
    }

}

@media (min-width: 768px) and (max-width: 992px){
    .tab-pane img {
        width: 50%;
    }

    #shelter_content img {
        width: 50%;
    }
}

@media  (max-width: 768px){
    .tab-pane img {
        width: 100%;
    }

    #shelter_content img {
        width: 100%;
    }
}

.small {
    display: none;
    font-size: 20px;
    color: white;
    padding-left: 30px;
}

@media (max-width: 768px) {
    .small{
        display: block;
    }
    .big{
        display: none;
    }
    .tab-block {
        margin-top: 80px;
    }
}

#uslugi_tabs select{
    margin-top: 75px;
    border: 2px solid #eb7527;
    float: none;
    background-color: #89be56;
}

#mySelect .dropdown-menu a{
    font-size: 20px;
    color: white;
}

@media (max-width: 768px) {
    #apteka #filter {
        width: 100%;
    }
}

#filter_button {
    width: 70%;
    margin: 0 auto;
    display: none;
    background-color: #89be56;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 5px;
}
@media (max-width: 768px) {
    #filter_button {
        display: block;
    }
}

.uslugi_tabs {
    margin-top: 20px;
}